* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    flex-direction: column;
    background-color: hsl(217, 54%, 11%);
}

main section {
    position: relative;
    width: 330px;
    height: auto;
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
}

main section article .cover{
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 25px;
    border-radius: 10px;
}

main section article .cover i {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

main section article .cover img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main section article .cover .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0%;
    background-color: hsl(178deg 100% 50% / 50%);
    transition: 0.3s;
}

main section article .cover .hover:hover{
    opacity: 100%;
    cursor: pointer;
}

main section article h1
{
    margin-bottom : 25px;
    font-weight: 600;
    font-size: 25px;
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
}

main section article h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

main section article p {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 17px;
    color: hsl(215, 51%, 70%)
}

main section > div {
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
    margin-bottom: 25px;
}

main section div p i {
    margin-right: 10px;
}

main section div p:last-child{
    color : hsl(215, 51%, 70%)
}

main section div p:first-child{
    color: hsl(178, 100%, 50%);
}

main section hr {
    margin-bottom: 20px;
    border: none;
    height: 0.5px;
    background-color: hsl(215, 51%, 70%);
}

main section footer {
    display: flex;
    align-items: center;
}

main section footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid white;
}

main section footer p {
    margin-left: 10px;
    color: hsl(215, 51%, 70%)
}

main section footer p span {
    color: white;
    transition: 0.3s;
}

main section footer p span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

main > footer {
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
    width: 330px;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    opacity: 60%;
}

main > footer a {
    color: hsl(215, 51%, 70%)
}